.sidebar {
  width: 350px;
  height: 100%;
  background: #E2F2D4;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: .2s transform;
}
.wrapper{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.sidebarHidden {
  transform: translateX(95%);
}

.text{
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.mixGroup {
  margin-bottom: 15px;
}

.mixGroup .text{
  border-bottom: 1px solid #FFFFFF;
}

.circle {
  background: #FFFFFF;
  border: 10px solid #E2F2D4;
  box-sizing: border-box;
  border-radius: 50px;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: -27px;
  cursor: pointer;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: .2s transform;
  transform: translate(-50%, -50%);
}

.show {
  transform: translate(-50%, -50%) rotate(180deg);
}

.checkbox {
  margin-bottom: 5px;
}

.mix{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.select {
  height: 32px;
}

.selectImg {
  padding-right: 10px;
  padding-bottom: 4px;
  height: 25px;
}

.collapse{
  width: 300px;
  height: 33px;
  z-index: 6;
}

.mixPanel{
  display: flex;
  justify-content: space-between;
}

.title{
  color: #000000;
}

.description {
  color: #A7A2A2;
}

.fitnessGirl {
  position: absolute;
  bottom: 60px;
  z-index: -1;
}